<div class="wrapper">
    <div class="summoners">
        <div class="summoners__header">
            Spells
        </div>
        <div class="summoners__content">
            <img [src]="summBaseUrl + 'SummonerFlash.png'">
            <img [src]="summBaseUrl + 'SummonerDot.png'">
        </div>
    </div>
    <div class="spell-order">
        <div class="spell-order__header">
            Skill Order
        </div>
        <div class="spell-order__content">
            <img [src]="summBaseUrl + 'SummonerFlash.png'">
            <i class="fa-solid fa-angle-right" style="color: #ffffff;"></i>
            <img [src]="summBaseUrl + 'SummonerDot.png'">
            <i class="fa-solid fa-angle-right" style="color: #ffffff;"></i>
            <img [src]="summBaseUrl + 'SummonerTeleport.png'">
        </div>
    </div>
</div>