<div class="row mt-4">
    <div class="col-12">
        <div class="py-4 px-5 panel">
            <app-champion-profile [champion]="champ" *ngIf="!!champ"></app-champion-profile>
        </div>
    </div>

</div>

<div class="row mt-4">
    <div class="col-7">
        <div class="panel runes pt-5 py-4 px-3">
            <app-component-runes></app-component-runes>
        </div>
    </div>
    <div class="col-5">
        <div class="panel runes py-4 px-4 h-100" *ngIf="!!champ">
            <app-component-summoners></app-component-summoners>
            <hr />
            <p class="px-3">Notes go here</p>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-3">
        <div class="px-4 pt-3 pb-4 h-100 panel">
            <app-component-items-item-build [items]="buildItems.startingItems" [title]="'Starting Items'">
            </app-component-items-item-build>
        </div>
    </div>
    <div class="col-7">
        <div class="px-4 pt-3 pb-4 h-100 panel">
            <app-component-items-item-build [items]="buildItems.items" [title]="'Full Build'">
            </app-component-items-item-build>
        </div>
    </div>
    <div class="col-2">
        <div class="px-4 pt-3 pb-4 h-100 panel">
            <app-component-items-item-build [items]="buildItems.boots" [title]="'Boots'">
            </app-component-items-item-build>
        </div>
    </div>   
</div>
